# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Logan\Documents\Ephec\Bloc_2\Quadri_1\dvlp_info_II\projet\Projet-Touche-Coule\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
